.root {
    accent-color: rgb(29, 185, 84);
    background-bright-color: rgb(60, 60, 60);
    background-color: rgb(40, 40, 40);
    foreground-bright-color: rgb(225, 225, 225);
    foreground-color: rgb(139, 139, 139);

    -fx-background: background-bright-color;
    -fx-text-fill: foreground-color;
}

.playlistStackPane {
    -fx-background: background-color;
}

.label {
    -fx-text-fill: foreground-bright-color;
    -fx-font-size: 14;
}

.currently-playing-artist-label {
    -fx-font-size: 22;
}

.currently-playing-title-label {
    -fx-font-size: 18;
}

.index-label {
    -fx-font-size: 22;
}

.artist-label {
    -fx-font-size: 16;
}

.title-label {
    -fx-font-size: 14;
}

.duration-label {
    -fx-font-size: 16;
}

.button {
    -fx-text-fill: foreground-bright-color;
}

.button .icon {
    -fx-fill: foreground-bright-color;
}

.button .jfx-rippler {
    -jfx-rippler-fill: accent-color;
}

.jfx-slider .track,
.jfx-slider:vertical .track {
    -fx-background-color: background-color;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-pref-width: 2px;
    -fx-pref-height: 2px;
}

.jfx-slider .thumb,
.jfx-slider:focused .thumb {
    -fx-background-color: accent-color;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.jfx-slider .colored-track {
    -fx-background-color: accent-color;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
}

.jfx-slider .slider-value {
    -fx-stroke: foreground-bright-color;
    -fx-font-size: 10;
}

.jfx-slider .animated-thumb {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: accent-color;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}

.jfx-slider:min .thumb,
.jfx-slider:min:focused .thumb {
    -fx-background-color: background-color;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.jfx-slider:min .animated-thumb {
    -fx-background-color: background-color;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}

.list-view {
    -fx-box-border: background-bright-color;
    -fx-background-color: background-color;
}

.list-view .scroll-bar:vertical .track,
.list-view .scroll-bar:vertical .track-background,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button,
.list-view .scroll-bar:horizontal .track-background,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button,
.list-view .corner {
    -fx-background-color: background-color;
}

.list-view .scroll-bar:vertical .thumb,
.list-view .scroll-bar:horizontal .thumb {
    -fx-background-color: background-bright-color;
}

.list-cell {
    -fx-background-color: transparent;
}
