.root {
    accent-color: rgb(29, 185, 84);
    background-bright-color: rgb(60, 60, 60);
    background-color: rgb(40, 40, 40);
    foreground-color: rgb(139, 139, 139);
    foreground-bright-color: rgb(225, 225, 225);

    -fx-background: background-bright-color;
    -fx-text-fill: foreground-color;
}

.label {
    -fx-text-fill: foreground-bright-color;
}

.button {
    -fx-text-fill: foreground-bright-color;
}

.slider .track {
    -fx-control-inner-background: accent-color;
}

.tree-table-view {
    -fx-box-border: background-bright-color;
}

.tree-table-view .tree-table-row-cell {
    -fx-background-color: background-color;
    -fx-table-cell-border-color: background-bright-color;
}

.tree-table-view .tree-table-cell {
    -fx-border-color: background-bright-color;
    -fx-border-width: 1 0 0 0;
}

.tree-table-view .tree-table-row-cell .tree-table-cell {
    -fx-text-fill: foreground-bright-color;
}

.tree-table-view .tree-table-row-cell:selected {
    -fx-background-color: accent-color;
}

.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: accent-color;
}

.tree-table-view .column-header,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler {
    -fx-background-color: background-color;
    -fx-border-color: background-color;
}

.tree-table-view .column-header .label {
    -fx-text-fill: foreground-bright-color;
}