.root {
    accent-color: rgb(29, 185, 84);
    background-bright-color: rgb(60, 60, 60);
    background-color: rgb(40, 40, 40);
    foreground-color: rgb(139, 139, 139);
    foreground-bright-color: rgb(225, 225, 225);

    -fx-background: background-bright-color;
    -fx-text-fill: foreground-color;
}

.label {
    -fx-text-fill: foreground-bright-color;
    -fx-font-size: 14;
}

.artist-label {
    -fx-font-size: 22;
}

.title-label {
    -fx-font-size: 18;
}

.button {
    -fx-text-fill: foreground-bright-color;
}

.button .icon {
    -fx-fill: foreground-bright-color;
}

.button .jfx-rippler {
    -jfx-rippler-fill: accent-color;
}

.jfx-slider .track,
.jfx-slider:vertical .track {
    -fx-background-color: background-color;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-pref-width: 2px;
    -fx-pref-height: 2px;
}

.jfx-slider .thumb,
.jfx-slider:focused .thumb {
    -fx-background-color: accent-color;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.jfx-slider .colored-track {
    -fx-background-color: accent-color;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
}

.jfx-slider .slider-value {
    -fx-stroke: foreground-bright-color;
    -fx-font-size: 10;
}

.jfx-slider .animated-thumb {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: accent-color;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}

.jfx-slider:min .thumb,
.jfx-slider:min:focused .thumb {
    -fx-background-color: background-color;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.jfx-slider:min .animated-thumb {
    -fx-background-color: background-color;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}

.tree-table-view {
    -fx-box-border: background-bright-color;
}

.tree-table-view, .table-view{
    -fx-background-color: background-color;
}

.tree-table-view .tree-table-row-cell {
    -fx-background-color: background-color;
    -fx-table-cell-border-color: background-bright-color;
}

.tree-table-view .tree-table-cell {
    -fx-border-color: background-bright-color;
    -fx-border-width: 1 0 0 0;
    -fx-font-size: 14;
}

.tree-table-view .tree-table-row-cell .tree-table-cell {
    -fx-text-fill: foreground-bright-color;
}

.tree-table-view .tree-table-row-cell:selected {
    -fx-background-color: accent-color;
}

.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: accent-color;
}

.tree-table-view .column-header,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler {
    -fx-background-color: background-color;
    -fx-border-color: background-color;
}

.tree-table-view .column-header .label {
    -fx-text-fill: foreground-bright-color;
}

.tree-table-view .scroll-bar:vertical .track,
.tree-table-view .scroll-bar:vertical .track-background,
.tree-table-view .scroll-bar:vertical .increment-button,
.tree-table-view .scroll-bar:vertical .decrement-button,
.tree-table-view .scroll-bar:horizontal .track,
.tree-table-view .scroll-bar:horizontal .track-background,
.tree-table-view .scroll-bar:horizontal .thumb,
.tree-table-view .scroll-bar:horizontal .increment-button,
.tree-table-view .scroll-bar:horizontal .decrement-button,
.tree-table-view .corner {
    -fx-background-color: background-color;
}

.tree-table-view .scroll-bar:vertical .thumb {
    -fx-background-color: background-bright-color;
}