.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

playlistCache.json
settings.json
/style.css
dependency-reduced-pom.xml
target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
compiled/
out/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
